

/* Custom fonts */

@font-face {
    font-family: Poppins;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Regular.ttf") format("TrueType");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsBold;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Bold.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsBItalic;
    font-display: swap;
    src: url("./assets/fonts/Poppins-BoldItalic.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsXB;
    font-display: swap;
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsXBItalic;
    font-display: swap;
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsItalic;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Italic.ttf");
    font-weight: 400 800;
}



*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Color Variables */
    --age-purple: hsl(259, 100%, 65%);
    --invalid-red: hsl(0, 100%, 67%);
    --bg-white: hsl(0, 0%, 100%);
    --page-white: hsl(0, 0%, 94%);
    --hoverbtn-black: hsl(0, 0%, 8%);
    --label-grey: hsl(0, 1%, 44%);
    --line-grey: hsl(0, 0%, 86%);
}

body {
    font-size: 32px;
    font-family: Poppins;
    background-color: var(--page-white);
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;


}

.ageform-wrapper {
    border-radius: 2rem 2rem 8rem 2rem;
    background-color: var(--bg-white);
    padding: 2em;
}

.newline {
    display: flex;
    justify-content: right;
    align-items: center;
}

hr {
    flex: 1;
    border: none;
    height: 2px;
    background: var(--line-grey);
  }

label {
    font-family: Poppins;
    font-size: 24px;
    display: block;
    color: var(--label-grey);
}

.form-inputs {
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
    line-height: 1.5em;

}

.form-inputs  input {
    max-width: 5em;
    font-family: PoppinsBold;
    font-size: 32px;
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

input:focus {
    border-color: var(--age-purple);
}

.error-msg {
    font-size: 20px;
    color: var(--invalid-red);
}


.results {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.years-diff,
.months-diff,
.days-diff {
    white-space: nowrap;
    font-family: PoppinsXBItalic;
    font-size: 72px;
    transform: 1s;
}

.years-diff span,
.months-diff span,
.days-diff span {
    color: var(--age-purple);
    font-family: PoppinsXBItalic;
    font-size: 96px;
}



button {
    background-color: var(--age-purple);
    padding: 1.5rem;
    border-radius: 100vw;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--hoverbtn-black);
}

input:invalid {
    border-color: var(--invalid-red);
}




@media screen and (max-width: 500px) {
    /* TODO Center the button on mobile view */
    .newline{
        justify-content: center;
        align-items: center;
    }

    .form-inputs input {
        max-width: 3em;
        gap: 1rem;
    }

}