

/* Custom fonts */

@font-face {
    font-family: Poppins;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Regular.ttf") format("TrueType");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsBold;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Bold.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsBItalic;
    font-display: swap;
    src: url("./assets/fonts/Poppins-BoldItalic.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsXB;
    font-display: swap;
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsXBItalic;
    font-display: swap;
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
    font-weight: 400 800;
}

@font-face {
    font-family: PoppinsItalic;
    font-display: swap;
    src: url("./assets/fonts/Poppins-Italic.ttf");
    font-weight: 400 800;
}



*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Color Variables */
    --age-purple: hsl(259, 100%, 65%);
    --invalid-red: hsl(0, 100%, 67%);
    --bg-white: hsl(0, 0%, 100%);
    --page-white: hsl(0, 0%, 94%);
    --font-black: Off black: hsl(0, 0%, 8%)
}

body {
    font-size: 32px;
    font-family: Poppins;
    background-color: var(--page-white);
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;


}

.ageform-wrapper {
    border-radius: 2rem;
    border: 2px solid black;
    background-color: var(--bg-white);
    padding: 3rem;
}

.newline {
    display: flex;
    justify-content: right;
    align-items: center;
}

hr {
    flex: 1;
    border: none;
    height: 2px;
    background: black;
  }

label, input {
    display: inline-block;
}

form > input {
    max-width: 4.5em;
    font-family: PoppinsBold;
    font-size: 48px;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    .newline{
        justify-content: center;
        align-items: center;
    }
}